{% set title = 'JS - Butler' %}
{% extends 'layouts/index.html' %}

{% block content %}

<h1 class="header">JS-Butler</h1>
<div class="cent">
  <button type="button" onclick='return listen();' class="btn btn-speak" name="button">
    <i class="fa fa-microphone" aria-hidden="true"></i>
  </button>
</div>
{% endblock %}
