<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href='css/style.css'/>
    <link rel="stylesheet" href='font_awesome/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</html>
